
*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}



.sidebar{
    background: #8b819a;
    color: #fff;
    height: 100vh;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s;
    overflow: hidden;
    font-size: 1.75rem;
}

.logout_link_text{
    display: none; /* Hide by default */
    align-items: center;
}

.logout-text{
    margin-left: 23px; /* Add a margin between the icon and the text */
    font-size: 13px;
    vertical-align: top;
    line-height: 0.1px;
}

.top_section{
    
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:20px 15px;
}
.logo{
    font-size: 24px;
}
.bars{
    display: flex;
    font-size: 22px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.1s;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
.link:hover{
    background:white;
    color: #000;
    transition: all 0.1s;
}

.icon, .link_text{
    font-size: 13px;
    
}

.link:hover {
    background: white; /* Change the background color */
    color: #000;
    transition: all 0.1s;
    position: relative;
  }
  
  .profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #8b819a;
    border-radius: 50%;
    overflow: hidden;
    transition: width 0.5s;
    margin-left: 30px; /* Adjust margin as needed */
    position: absolute; /* Add absolute positioning */
    top: 50px; /* Position at the top */
    left: 0; /* Position at the left */
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo-bars {
    display: flex;
    align-items: center;
}

.menu-items {
    margin-top: 40px; /* Add margin to push down the menu items */
}

.profile-name {
    font-size: 12px;
    margin-top: 80px;
    text-align: center;
    color: #fff;
}

.dashboard-image {
    background-color: #8b819a; 
    margin: 0;
}
.about-us-container {
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    text-align: justify;

}
.bus-heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 20px;
    margin-bottom: 5px; 
}
.bus-heading2{
    font-family: 'Poppins', sans-serif;
    font-weight: 10;
    font-size: 13px;
    margin-top: 15px;
}
.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 800px;

    
    
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    flex: 1;
    margin-top: 20px;
}

.search-bar2 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 1125px;

    
    
}

.search-bar2 input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    flex: 1;
    margin-top: 20px;
}
.search-icon {
    margin-right:-323px;
    padding: 10px;
    background-color: #8b819a;
    color: #fff;
    border: 1px solid #8b819a;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}
.add-schedule-button {
    background-color: #8b819a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 100px; 
    right: 0px;
}

.bus-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.bus-image img {
    max-width: 100%; /* Make the image adjustable */
    height: auto;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    margin-left: 0px;
}

.form-left,
.form-right {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.form-right {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.form-row2 {
    display: flex;
    flex-direction: column; /* Change to column */
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.form-row label {
    flex: 0.4;
    font-weight: bold;
    margin-right: 5px;
}

.form-row input {
    flex: 0.6;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 50px;
}
.form-row2 input {
    flex: 0.6;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:1000px;
}


.address-input {
    position: relative;
}


.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.address-input {
    display: flex;
    align-items: center;
}

.location-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}

.job-button{
    margin-top: -35px;
}


.image-box {
    width: 100%;
    max-width: 100px; /* Reduced width */
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px;
    height:85px;
    text-align: center;
    padding-top: 60px;
}

.active-button,
.inactive-button {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

.active-button {
    color: white;
    text-decoration: underline; 
}

.inactive-button {
    background-color: #f0f0f0;
    color: #333;
}

.active-button:hover,
.inactive-button:hover {
    background-color: #8b819a;
    color: white;
}

.share-now-container {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.share-now-button {
    padding: 10px 100px;
    font-size: 16px;
    background-color: #8b819a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.share-now-button:hover {
    background-color: #ccc;
}
.image {
    max-width: 1150px; 
}

.notification-item {
    display: flex;
    align-items: center;
    margin-top: 50px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.notification-item:hover {
    background-color: #f0f0f0;
}

.user-icon {
    font-size: 24px;
    margin-right: 10px;
}


.profile-form-container {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    margin-bottom:30px
}

.profile-form-group {
    margin-bottom: 15px;
}

.profile-form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 350px;
}

.profile-form-right {
    width: 300px;
    margin-left: 100px;
}
.profile-form-left{
    width: 300px;
}

.input-with-flag {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.password-form-container {
    display: flex;
    margin-left: 0px;
    margin-top: 30px;
}

.password-form {
    width: 100%;
    max-width: 300px;
    padding: 0px;
    border-radius: 0px;
}


.password-form-group {
    margin-bottom: 20px;
}

.password-form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.password-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-button-container {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.update-button {
    background-color: #8b819a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-button:hover {
    background-color: #ccc;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-image {
    width: 500px; /* Adjust the width as needed */
    height: 630px;
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .LOGO-image {
    width: 50px; 
    height: auto; 
    margin-bottom: 10px; 
  }
  
  
  .login-form {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    margin-right: 100px;
  }
  
  .login-form h2 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  
  .login-form p {
    color: #666;
    margin-bottom:30px;
  }
  
  .input-container {
    margin: 20px 0;
  }
  
  .input-container input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .forgot-password {
    margin-bottom: 0px;
    position: absolute;
    bottom: 235px;
    margin-top: 0px;
    right: 165px;
    font-size: 12px; /* Adjust the font size as needed */
    color: black;
  }
  
  .forgot-password button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    
  }
  
  button {
    margin-top: 30px;
    width: 323px;
    padding: 10px;
    background-color: #8b819a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }


  .smaller-font {
    font-size: 10px; 
  }

  .already {
    margin-top: 20px;
  }
  
  .signup p {
    margin-top: -30px;
    color: #666;
  }
  
  .signup button {
    margin-left: 0px;
    width:70px;
    background: none;
    border: none;
    color: #4dcd32;
    cursor: pointer;
  }
  .orlines{
    padding-top: -200px;
  }
  .image-button {
    gap: 10px; /* Adjust the gap as needed */
    margin-top: 0px; /* Add some top margin for spacing */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .image-button img {
    width: 100%; /* Ensure the image covers the button */
  }
  

.logout-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    background-color: #ccc;
}

.logout-message {
    font-size: 15px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.logout-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:100px;
}

.logout-button {
    background-color: #8b819a;
    color: white;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
}

